<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="chat-container">
                <div class="p-3 border-bottom">
                    <h4 class="mb-0">Sala de Chat General</h4>
                </div>

                <div #chatContainer class="chat-messages">
                    @if (loading()) {
                        <div class="spinner-container">
                            <div class="spinner"></div>
                        </div>
                    } @else {
                            @for (msg of messages(); track msg.id) {
                                <div class="message" [appHighlightMessages]='msg.user_email'>
                                    <small class="d-block">
                                        {{msg.user_email === user()?.email ? 'Tú' : msg.user_email | formatName}} - {{msg.time | formatTime}}
                                    </small>
                                    {{msg.text}}
                                </div>
                            }
                        }
                </div>

                <div class="chat-input">
                    <form class="d-flex" [formGroup]="chatForm" (ngSubmit)="sendMessage()">
                        <input class="form-control me-2" id="messageInput" formControlName="message" type="text" placeholder="Escribe un mensaje...">
                        <button class="btn-game" type="submit" [disabled]="chatForm.invalid">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
