<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#" [routerLink]="['/home']">Sala de Juegos</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav me-auto">
                @for (item of items; track $index) {
                    <li class="nav-item"><a class="nav-link" href="#" [routerLink]="[`/${item.route}`]">{{ item.title }}</a></li>
                }
            </ul>

            <div class="d-flex align-items-center">
                @if (sb.user()?.email_confirmed_at) {
                    <span class="me-3">Hola, {{ (sb.user()?.email || '') | formatName }}!</span>
                    <button class="btn btn-outline-danger btn-sm" (click)="logout()">Cerrar Sesión</button>
                } @else {
                    <button class="btn btn-outline-primary btn-sm me-2" [routerLink]="['/login']">Iniciar Sesión</button>
                    <button class="btn btn-primary btn-sm" [routerLink]="['/register']">Registrarse</button>
                }
            </div>
        </div>
    </div>
</nav>
