.simon-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
    max-width: 400px;
}

.simon-button {
    opacity: .6;
    border: none;
    width: 100%;
    height: 180px;
    cursor: pointer;
    border-radius: 20px;
    transition: all .3s;
}

.red {
    background: #dc3545;
}

.blue {
    background: #007bff;
}

.green {
    background: #28a745;
}

.yellow {
    background: #ffc107;
}

.simon-button:disabled {
    cursor: not-allowed;
}

.simon-button.active {
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 0 0 30px rgba(0, 0, 0, .8);
}

@media (max-width: 450px) {
    .simon-button {
        height: 120px;
    }
}